<div class='container'>
		<div class='row'>
			<iframe width="980" height="520" src=<%= @food.video%> frameborder="0" allowfullscreen></iframe>
		</div>
		<div class='hero-unit'>
			<div class='row'>
				 <h3>Title:</h3> <%=@food.title%>
			</div>
			<div class='row'>
			<h3>Description:</h3><%= @food.description%>
			</div>
			<div class='row'>
			<h3>Class:</h3><%= @food.class%>
			</div>
			<div class='row'>
			<h3>Type:</h3><%= @food.food_type%><br>
			</div>
			<div class='row'>
			<h3>Secret recipie >>></h3><%= @food.ingredients%>
		</div>
	</div>
</div>
